<a  routerLink="/admin/manageproduct">adicionar produto</a>
@if (productsList && productsList.length > 0) {
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Descrição</th>
            <th scope="col">STATUS</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
            @for (item of productsList; track item.id) {
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.Available }}</td>
                    <td><button (onclick)="Edite()"></button></td>
                    <td><button (onclick)="Delete()"></button></td>
                </tr>
            }
        </tbody>
         
    </table>
}
@else {
    <div class="alert alert-warning" role="alert">
        Não há produtos.
    </div>}